.buttonsContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 200px;
}

.editableSpanContainer {
    margin-left: 20px;
}